body{
    margin: 0;
    width: 100vw;
    border: dashed 1px orange;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 10vh;
    background-color: white;
    position: fixed;
    width: 100vw;
    padding: 0 2%;
}
header .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.nav-logo{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    height: 7vh;
}

.nav-items{
    height: 10vh;
    display: flex;
    align-self: flex-end;
    align-items: center;
}
.nav-items ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #1a1a1a;
    font-size: 1.3rem;
    list-style-type: none;
}

ul li{
    text-align: center;
    margin: 0 1.2rem;
}
main{
    width: 100vw;
}
.hero{
    display: flex;
    background-image: url(/images/landing.jpg);
    background-position: center center;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    border: solid 1px orange;
}
.hero-header{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}
.hero-content{
    text-align: center;
    font-weight: lighter;
    font-size: 1.5em;
}


/* p{
color: #1a1a1a ;
color: #00b172;
} */
